
	<div class="row">
		<div class="col-md-6">
			<h1><%= @door.title %></h1>
			<h3><%= @door.address %></h3>
			<h4><b>Wspolrzedne: </b>Long: <%= @door.longitude %> Lat: <%= @door.latitude %></h4>
			<div class="well well-sm">
			  <button id="prev">Wstecz</button>
			  <button id="next">Dalej</button>
				<ul class="slider">
				 <li>
				  <img src="http://loremflickr.com/320/240/door/?random=1" />
				 </li>
				 <li>
				   <img src="http://loremflickr.com/320/240/door/?random=2" />
				 </li>
				 <li>
				   <img src="http://loremflickr.com/320/240/door/?random=3" />
				 </li>
				 <li>
				   <img src="http://loremflickr.com/320/240/door/?random=4" />
				 </li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<%= image_tag(@door.image, height: "60%", width: "60%") %>
		</div>
	</div>
	<br/>
	<div class="row well">
		<div class="col-md-7">
			<p><%= @door.description %></p>
		</div>
	</div>
