<!-- prevents ajax request, which imports maps many times between requests -->
<%= content_for(:body_attributes) do %>data-no-turbolink<% end %>

<% if current_user %>
	<%= link_to "Dodaj nowe drzwi", new_door_path, class: "btn btn-primary" %>
<% end %>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<% @street.each do |str| %>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#<%= str.delete(' ').delete('.') %>"><span class="glyphicon glyphicon-chevron-down"></span> <%= str %></a>
      </h4>
    </div>
    <div id="<%= str.delete(' ').delete('.') %>" class="panel-collapse collapse">
      <ul class="list-group">
        <% @door.each do |d| %>
          <% if !d.address.match("#{str.delete(' ', '.')}").nil? %>
            <li class="list-group-item">
              <%= image_tag "https://i.imgur.com/" + "#{imgur(d.image)["data"]["cover"]}" + "s.jpg"%> <u><b><%= link_to d.address, door_path(d) %></b></u>
              <div id="admin_panel">    
                <% if current_user %>
                  <%= link_to " Edytuj", edit_door_path(d), id: "edit_door", class: "glyphicon glyphicon-edit text-warning" %>
                  <%= link_to " Usun", door_path(@door), method: :delete, data: { confirm: "Czy na pewno chcesz usunac?" }, class: "glyphicon glyphicon-remove text-danger" %>
                <% end %>
              </div>
            </li>  
          <% end %>         
        <% end %> 
      </ul>
      <div class="panel-footer"><a data-toggle="collapse" href="#<%= str.delete(' ').delete('.') %>">Zwiń <span class="glyphicon glyphicon-chevron-up"></span></a></div>
    </div>
  </div>
</div>

<% end %>

<!-- <div id="list">
	<% @door.each do |d| %>
		<div class="well well-sm">
		 	<%= image_tag "https://i.imgur.com/" + "#{imgur(d.image)["data"]["cover"]}" + "s.jpg"%> <u><b><%= link_to d.address, door_path(d) %></b></u>

      <div id="admin_panel">    
        <% if current_user %>
          <%= link_to " Edytuj", edit_door_path(d), id: "edit_door", class: "glyphicon glyphicon-edit text-warning" %>
          <%= link_to " Usun", door_path(@door), method: :delete, data: { confirm: "Czy na pewno chcesz usunac?" }, class: "glyphicon glyphicon-remove text-danger" %>
        <% end %>
      </div>

	 	</div>
 <% end %> 
</div> -->

<script type="text/javascript">
// miejsce na skrypt gmaps.js
// setTimeout(initMap, 2000);
// function initMap() {
  var jsonMarker = JSON.parse(JSON.stringify(<%= @door.to_json(:only => [:latitude, :longitude, :title, :id, :address]).html_safe %>)); 

  var map;
  function initMap(){
    map = new GMaps({
      div: '#map',
      lat: 49.786505,
      lng: 22.76249
    });
    for(var i = 0; i < jsonMarker.length; i++) {
      var infoContent = "<b>" + jsonMarker[i].address + "</b><br/><a href='/doors/" + jsonMarker[i].id + "'>Zobacz więcej</a>"
      map.addMarker({
        lat: jsonMarker[i].latitude,
        lng: jsonMarker[i].longitude,
        title: jsonMarker[i].title,
        infoWindow: {
          content: infoContent
        }
      });
    }
    //albo centrowanie do aktualnego markera, albo centrowanie z widocznymi wszyskimi:
    map.fitZoom();
  };
// }
</script>

<script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyA0A4nZwcDDlyyHlQ2dOS4i34NmkXoUTcs&libraries=geometry&language=&hl=&region=&&callback=initMap" async defer></script>



