<div id="door_description">
	<div class="row">
		<div class="highslide-gallery">
		<h3><%= @door.address %></h3>
			<div id="thumbnail">
				<!-- Link description:
				img[id] is used for retrievieng image's inforamtions
				x.jpg is size of thumbnail responded from API
				more here: http://api.imgur.com/models/image -->
				<% imgur(@door.image)["data"]["images"].each do |img| %>

						<%= link_to(image_tag("https://i.imgur.com/" + img["id"] + "b.jpg"), "https://i.imgur.com/" + img["id"] + ".jpg", :class => "highslide", :onclick => "return hs.expand(this)") %>
						<div class="highslide-caption">
							<%= img["description"] %>
						</div>
			
				<% end %>
			</div>
		</div>		


<!-- 		<div class="col-md-6">

			<%= image_tag "https://i.imgur.com/" + imgur(@door.image)["data"]["images"][0]["id"] + ".jpg", height: "60%", width: "60%" %>
		</div> -->
	</div>
	<br/>
	<div class="row well">
		<div class="col-md-7">
			<p><%= @door.description %></br></p>
		</div>
		<div class="col-md-5">
		  <div id="map" style='width: 100%; height: 400px;'></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({
    provider: {},
    internal: {
      id: 'map'
    }
  },
  function(){
    markers = handler.addMarkers(<%= raw @hash.to_json %>);
    // markers are indexed [0..N], but doors have their's own ids
    // need to center on current door, then focus on specified marker
    single_marker = handler.addMarkers(<%= raw @hash_single.to_json %>
);
    handler.map.centerOn(single_marker[0]); //allways 0 because there's only one
    handler.fitMapToBounds();
    handler.getMap().setZoom(18);
  }
);
</script>

<div id="form-edit">
			<%= render("form") %>
		</div>

	<div id="admin_panel">		
		<% if current_user %>
			<%= link_to " Anuluj", edit_door_path(@door), id: "cancel_edit_door", remote: :true, class: "glyphicon glyphicon-remove-sign text-warning" %>
			<%= link_to " Edytuj", edit_door_path(@door), id: "edit_door", remote: :true, class: "glyphicon glyphicon-edit text-warning" %><br/>
			<%= link_to " Usun", door_path(@door), method: :delete, data: { confirm: "Czy na pewno chcesz usunac?" }, class: "glyphicon glyphicon-remove text-danger" %><br/>
		<% end %>
		<br/>
		<%= link_to " Powrot", doors_path, class: "glyphicon glyphicon-arrow-left" %><br/>	
	</div>

