<div id="door_description">
	<h1><%= @door.title %></h1>
	<h3><%= @door.address %></h3>
	<h4><b>Współrzędne: </b>Long: <%= @door.longtitude %> Lat: <%= @door.latitude %></h4>
	<p><%= @door.description %></br>
</div>

<%= link_to "Edytuj", edit_door_path(@door), id: "edit_door", remote: :true %>
<%= link_to "Usuń", door_path(@door), method: :delete, data: { confirm: "Czy na pewno chcesz usunąć?" } %>
</p>


 

