<!DOCTYPE html>
<html>
<head>
  <title>Stolarka Przemyśl | <%= @title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
	  <nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	      <div>
	        <ul class="nav navbar-nav">
	          <!-- <li class="active"><a href="#">Home</a></li> -->

	          <li class="<%= 'active' if current_page?(action: 'index') %>">
		          <%= link_to "Strona główna",   :action => "index"  %>
	          </li>

	          <li class="<%= 'active' if current_page?(action: 'about') %>">
	          	<%= link_to "O nas",   :action => "about" %>
	          </li>

	          <li class="<%= 'active' if current_page?(action: 'help') %>">
	          	<%= link_to "Pomoc",  :action => "help"  %>
	          </li>
	        </ul>
	      </div>
	    </div>
	  </nav>
  </div>

 <div class="container">
	<div class="jumbotron">
	  <%= yield %>
	  <%= image_tag "The-Doors-Wallpapers-3.jpg" %>
  </div>
</div>
</body>
</html>
