<!DOCTYPE html>
<html lang="pl-PL">
	<head>
	  <title><%= current_page?(controller: 'doors', action: 'show') ? "#{@door.address} - " : "#{@title} - " %>Drzwi Przemyśla</title>
	  <meta name="description" content="Udostępniony katalog zabytkowych drzwi oraz stolarki okiennej w kamienicach Przemyśla.">
	  <meta name="robots" content="index, follow">
	  <meta http-equiv="content-language" content="pl">
		<meta http-equiv="content-type" content="text/html;UTF-8">
		<meta http-equiv="cache-control" content="cache">
		<meta http-equiv="revisit-after" content="3 days">

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>



	<script type="text/javascript">
		hs.graphicsDir = '../assets/graphics/';
		hs.wrapperClassName = 'wide-border';
	</script>


	</head>
	<body <%= yield(:body_attributes) %>>
		<div class="wrapper">
			<div class="container">
			  <nav class="navbar navbar-inverse">
			    <div class="container-fluid">
			      <div>
			        <ul class="nav navbar-nav">
			        	
			          <li class="<%= 'active' if current_page?(controller: 'doors', action: 'index') %>">
			          	<%= link_to "Katalog drzwi",  :controller => 'doors', :action => "index" %>
			          </li>

			          <li class="<%= 'active' if current_page?(controller: 'site', action: 'about_project') %>">
				          <%= link_to "O projekcie", :controller => 'site', :action => "about_project"  %>
			          </li>


			          <li class="<%= 'active' if current_page?(controller: 'site', action: 'about') %>">
			          	<%= link_to "O nas",  :controller => 'site', :action => "about" %>
			          </li>

			          <li>
			          	<%= link_to "Rozpoznanie i problematyka konserwatorska", :controller => 'site', :action => "under_construction"  %>
			          </li>

			          <li>
			          	<%= link_to "Bibliografia", :controller => 'site', :action => "under_construction"  %>
			          </li>

			          <li class="<%= 'active' if current_page?(controller: 'site', action: 'help') %>">
			          	<%= link_to "Pomoc", :controller => 'site', :action => "help"  %>
			          </li>

			          <li class="<%= 'active' if current_page?(controller: 'site', action: 'news') %>">
			          	<%= link_to "Aktualności", root_path  %>
			          </li>

			        </ul>
			      </div>
			    </div>
			  </nav>
			  	      <%= render_breadcrumbs :separator => " / " %>

		  </div>


			<div class="container content">
				<div class="jumbotron">
				  <%= yield %>
			  </div>
			  <%= debug(params) if Rails.env.development? %>
			</div>
			<footer>
				<div id="authors">
					Copyright &copy; 2016<br/>
					Created by Kamil Przybylski
				</div>
			</footer>
		</div>

		<a title="Real Time Web Analytics" href="http://clicky.com/100941029"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
		<script type="text/javascript">
		var clicky_site_ids = clicky_site_ids || [];
		clicky_site_ids.push(100941029);
		(function() {
		  var s = document.createElement('script');
		  s.type = 'text/javascript';
		  s.async = true;
		  s.src = '//static.getclicky.com/js';
		  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
		})();
		</script>
		<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100941029ns.gif" /></p></noscript>		
	</body>
</html>
