<!DOCTYPE html>
<html>
<head>
  <title>Stolarka Przemyśl | <%= @title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
	  <nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	      <div>
	        <ul class="nav navbar-nav">
	          <!-- <li class="active"><a href="#">Home</a></li> -->

	          <li class="<%= 'active' if current_page?(controller: 'site', action: 'index') %>">
		          <%= link_to "Strona główna",  :controller => 'site', :action => "index"  %>
	          </li>

	          <li class="<%= 'active' if current_page?(controller: 'site', action: 'about') %>">
	          	<%= link_to "O nas",  :controller => 'site', :action => "about" %>
	          </li>

	          <li class="<%= 'active' if current_page?(controller: 'site', action: 'help') %>">
	          	<%= link_to "Pomoc", :controller => 'site', :action => "help"  %>
	          </li>
	        </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <li><%= link_to "Login", :controller => 'session', :action => "new"  %></li>
            <% else %>
              <li><%= link_to "Logout", :controller => 'session', :action => "destroy"  %></li>
            <% end %>
          </ul>
	      </div>
	    </div>
	  </nav>
  </div>

 <div class="container">
	<div class="jumbotron">
	  <%= yield %>
	  Hello user: <%= @user %>
	  <%= link_to(image_tag("The-Doors-Wallpapers-3.jpg", size: '400x300'),controller: 'site',  :action => "doors")  %>
  </div>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
