<!DOCTYPE html>
<html>
<head>
  <title>Stolarka Przemyśl | <%= @title %></title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to_unless_current "Strona główna",   :action => "index"  %> |
  <%= link_to_unless_current "O nas",   :action => "about" %> |
  <%= link_to_unless_current "Pomoc",  :action => "help"  %> |

  <%= yield %>

</body>
</html>
