<!DOCTYPE html>
<html lang="pl-PL">
	<head>
	  <title><%= current_page?(controller: 'doors', action: 'show') ? "#{@door.address} - " : "#{@title} - " %>Drzwi Przemyśla</title>
	  <meta name="description" content="Udostępniony katalog zabytkowych drzwi oraz stolarki okiennej w kamienicach Przemyśla.">
	  <meta name="robots" content="index, follow">
	  <meta http-equiv="content-language" content="pl">
		<meta http-equiv="content-type" content="text/html;UTF-8">
		<meta http-equiv="cache-control" content="cache">
		<meta http-equiv="revisit-after" content="3 days">

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>



	<script type="text/javascript">
		hs.graphicsDir = '../assets/graphics/';
		hs.wrapperClassName = 'wide-border';
	</script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-6856361960802445",
	    enable_page_level_ads: true
	  });
	</script>

	</head>
	<body <%= yield(:body_attributes) %>>
		<div class="wrapper">
			<div class="container" >
		      	<%= link_to(image_tag("baner.jpg", width: '100%'), :controller => 'doors', :action => "index") %>
				<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div>
						<ul class="nav navbar-nav">
							<li class="<%= 'active' if current_page?(controller: 'site', action: 'news') %>">
								<%= link_to "Aktualności", root_path  %>
							</li>

							<li class="<%= 'active' if current_page?(controller: 'doors', action: 'index') %>">
								<%= link_to "Katalog drzwi",  :controller => 'doors', :action => "index" %>
							</li>

							<li>
								<%= link_to "Rozpoznanie i problematyka konserwatorska", :controller => 'site', :action => "under_construction"  %>
							</li>

							<li class="<%= 'active' if current_page?(controller: 'site', action: 'bibliography') %>">
								<%= link_to "Bibliografia", :controller => 'site', :action => "bibliography"  %>
							</li>

							<li class="<%= 'active' if current_page?(controller: 'site', action: 'about_project') %>">
								<%= link_to "O projekcie", :controller => 'site', :action => "about_project"  %>
							</li>


							<li class="<%= 'active' if current_page?(controller: 'site', action: 'about') %>">
								<%= link_to "O nas",  :controller => 'site', :action => "about" %>
							</li>

<!-- 							<li class="<%= 'active' if current_page?(controller: 'site', action: 'help') %>">
								<%= link_to "Pomoc", :controller => 'site', :action => "help"  %>
							</li> -->


						</ul>
					</div>
				</div>
				</nav>
				<%= render_breadcrumbs :separator => " / " %>

				</div>


			<div class="container content">
				<div class="jumbotron">
				  <%= yield %>
			  </div>
			  <%= debug(params) if Rails.env.development? %>
			</div>
			<div class="footer">
				<div id="authors">
					Copyright &copy; 2016<br/>
					Created by Kamil Przybylski
				</div>
			</div>
		</div>

	
	</body>
</html>
